html {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.mobile {
  display: none;
}

@media only screen and (max-width 470px) {

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }
}

/*Header*/

header {
  height: 4rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo-bold {
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 .5rem;
  font-size: 1.4rem;
}

/*Hero*/

.hero {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.hero-image {
  width: 60%;
  padding: 3.2rem 4rem 3.2rem 2.4rem;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-headline-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-headline {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subhead {
  font-size: 2rem;
  font-weight: normal;
  margin: 2rem 0;
}

.button {
  padding: .5rem 4rem;
  background-color: grey;
}

.button:hover {

}

.button:active {

}

/*Featured*/

.featured {
  display: flex;
  justify-content: space-between;
}

.featured-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  padding: 3.2rem 2.4rem;
  border-right: 1px solid lightgrey;
}

.featured-main img {
  width: 100%;
  height: auto;
  padding-bottom: 3.2rem;
}

.featured-main h3 {
  padding-bottom: 2.4rem;
  font-size: 2.3rem;
}

.featured-main p {
  font-size: 1.6rem
}

p.citation {
  padding-top: 2.4rem;
  font-size: 1.3rem;
}

.featured-other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 44%;
  padding: 3.2rem 0;
}

.featured-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .6rem;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.featured-article:first-child {
  border-top: none;
}

.featured-article:last-child {
  border-bottom: none;
}

/*.featured-article:hover {
  background-color: grey;
}*/

.featured-article img {
  width: 35%;
  height: auto;
  padding: 1rem;
  flex: 2 3 auto;
}

.featured-article:first-child img {
  padding-top: 0;
}

.featured-article:first-child .article-info {
  padding-top: 0;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
  flex: 1 1 auto;
}

.article-info h3 {
  font-size: 2rem;
  margin-bottom: .8rem;
}

.article-info p {
  font-size: 1.6rem;
  margin: .8rem 0;
}

.read-more a {
  color: darkblue;
}

/*Learning*/

.learning {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightblue;
}

.learning h2 {
  margin: 3.2rem 0;
}

.class-tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.class {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 28%;
  /*height: 25rem;*/
  margin: 1.6rem;
  background-color: white;
}

.class img {
  width: 100%;
  height: auto;
}

.class-info {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.class-info h3 {
  font-size: 2rem;
}

.class-info p {
  font-size: 1.6rem;
}

.courses {
  text-transform: uppercase;
  padding: .8rem 0
}

/*Thesis*/

.thesis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.thesis h2 {
  padding: 3.2rem;
}

.thesis-all {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.thesis-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin-bottom: 3.2rem;
}

video {
  width: 100%;
  height: auto;
  padding: 0 1.6rem 2.4rem 2.4rem;
}

.thesis-other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
}

.thesis-other-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.thesis-other-item img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.thesis-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
