html {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.mobile {
  display: none;
}

@media only screen and (max-width 470px) {

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }
}

/*Header*/

header {
  height: 4rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo-bold {
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 .5rem;
  font-size: 1.4rem;
}

/*Hero*/

.hero {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.hero-image {
  width: 60%;
  padding: 3.2rem 4rem 3.2rem 2.4rem;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-headline-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-headline {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subhead {
  font-size: 2rem;
  font-weight: normal;
  margin: 2rem 0;
}

.button {
  padding: .5rem 4rem;
  background-color: grey;
}

.button:hover {

}

.button:active {

}

/*Featured*/

.featured {
  display: flex;
  justify-content: space-between;
}

.featured-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}

.featured-main img {
  width: 100%;
  height: auto;
  padding: 3.2rem 2.4rem;
}

.featured-other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 44%;
}

.featured-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.featured-article img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*Learning*/

.learning {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.learning h2 {
  margin: 3.2rem 0;
}

.class-tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.class {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 28%;
  height: 25rem;
  margin: 1.6rem;
}

.class img {
  width: 100%;
  height: auto;
}

/*Thesis*/

.thesis {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.thesis-all {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.thesis-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}

video {
  width: 100%;
}

.thesis-other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
}

.thesis-other-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.thesis-other-item img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.thesis-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
